<footer class="footer">
  <p>
    © <span id="year"></span> Book Notes | Made with ❤️
  </p>
</footer>

<script>
  document.getElementById("year").innerText = new Date().getFullYear();
</script>
